<h2>Kurser</h2>

<input
  type="text"
  placeholder="Sök kurskod eller kursnamn"
  [(ngModel)]="searchTerm"
/>

<table>
    <thead>
      <tr>
        <th (click)="setSort('courseCode')">
          Kurskod {{ sortColumn === 'courseCode' ? (sortAsc ? '▲' : '▼') : '' }}
        </th>
        <th (click)="setSort('courseName')">
          Kursnamn {{ sortColumn === 'courseName' ? (sortAsc ? '▲' : '▼') : '' }}
        </th>
        <th (click)="setSort('points')">
          Poäng {{ sortColumn === 'points' ? (sortAsc ? '▲' : '▼') : '' }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of filteredCourses">
        <td>{{ course.courseCode }}</td>
        <td>{{ course.courseName }}</td>
        <td>{{ course.points }}</td>
        <td>
            <button (click)="addToSchedule(course)">Lägg till</button>
        </td>
      </tr>
    </tbody>
  </table>
